@import 'tailwindcss';

@theme {
  --color-primary: #8b5cf6;
  --color-secondary: #0ea5e9;
  --color-tertiary: #a15100;
  --color-neutral: #0f172a;

  --font-heading: var(--font-manrope);
  --font-body: var(--font-inter);
}
